.calendario {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-content: start;
    margin: 50px;
    gap: 3px;
    height: auto;

}

.tituloMes {
    text-align: left;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 60px;
    padding: 20px;
    background-image: url(../images/oficina\ developer\ 1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
    color: white;
}

.cartel2026 {
    background-color: #5B89A6;
    background-image: url(../images/fondo\ cursos1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 40px 20px;
    text-align: center;
    margin-top: 20px;

}

.cartel2025 h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.cartel2025 p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.espacioCurso {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background: #5B89A6;
    font-weight: normal;
    text-align: left;
    height: 120px;
}

.espacioCurso p {
    color: white;
    font-weight: normal;
    text-align: center;
    padding: 10px;
    background-color: #032340;
}

.espacioCurso img {
    max-width: 200px;
    max-height: 200px;
}

.pruebaHoover {
    text-decoration: none;
    color: inherit;
}

.pruebaHoover:hover {
    text-decoration: underline;
    color: white;
}

.numeroDia {
    display: block;
    text-align: center;
    font-size: medium;

}

.espacioCurso h2 {
    text-align: center;
    padding: 1px;
    margin-top: 1px;

}