.calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 0.0625rem;
    width: 90%;
    max-width: 95rem; 
    margin: 1.875rem auto;
    border: 0.0625rem solid #ccc;
    background-color: #ddd;
}

.tituloMes {
    text-align: center;
    margin-top: 3.125rem;
    font-size: 2.5rem;
    background-image: url("../images/oficina\ developer\ 1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
}

.espacioCurso {
    background-color: #f7f7f7;
    padding: 0.625rem;
    min-height: 9.375rem;
    border: 0.0625rem solid #eee;
    overflow: hidden; 
    transition: background-color 0.3s;
}

.dia-semana {
    background-color: #e0e0e0;
    text-align: center;
    font-weight: bold;
}

.espacioCurso:hover {
    background-color: #5B89A6; 
}

.espacioCurso h2 {
    font-size: 1rem;
    font-weight: 500;
    color: #666;
    margin-bottom: 0.3125rem;
}

.numeroDia {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    margin-left: 0.3125rem;
}

.pruebaHoover {
    display: block;
    background-color: #007bff; 
    color: white;
    padding: 0.5rem;
    margin-top: 0.3125rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.2;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

.pruebaHoover:hover {
    background-color: #590202;
    transform: translateY(-0.125rem);
}

.dia-fecha h2 span.numeroDia {
    display: block;
    text-align: left;
    margin-left: 0;
    font-size: 1.7rem;
}

.dia-fecha h2 span:not(.numeroDia) {
    display: none;
}
.cartel2026 {
    background-color: #5B89A6;
    background-image: url(../images/fondo\ cursos1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 2.5rem 1.3rem;
    text-align: center;
    margin-top: 1.3rem;
    border-radius: 0.5rem;
}


@media (max-width: 60em) {
    .calendario {
        grid-template-columns: repeat(3, 1fr);
        width: 95%;
    }

    .dia-fecha h2 span:not(.numeroDia) {
        display: inline;
    }

    .dia-fecha h2 span.numeroDia {
        display: inline;
        text-align: unset;
        font-size: 1.5rem;
        margin-left: 0.3125rem;
    }

    .dia-semana {
        display: none; 
    }
}
@media (max-width: 47em) {
    .tituloMes {
        font-size: 2rem;
    }

    .calendario {
        grid-template-columns: 1fr;
        width: 95%;
        margin: 0.9375rem auto;
    }

    .espacioCurso {
        min-height: 5rem;
        padding: 0.9375rem;
    }

    .espacioCurso h2 {
        font-size: 1.2rem;
    }

    .dia-semana {
        display: none;
    }
    
    .calendario > .espacioCurso:last-child {
        display: none;
    }
}