.modal__contenedor {
  color: white;
  position: fixed;
  top: 4rem;
  left: auto;
  right: 0;
  bottom: 0;
  height: calc(100vh - 4rem);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-image: url(../images/carrito-imagen2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: .5rem;
  padding: 1rem;
  width: min(30rem, 92%);
  overflow-y: auto;
  border-radius: 0;
  font-size: 1.3rem;
}

.modal--titulo {
  padding-right: 2rem;
  font-size: 1rem;
}

.modal--cerrar{
    position:absolute;
    width: 1.2rem;
    height: 1.2rem;
    font-size: .9rem;
    font-weight: 500;
    top: 1.1rem;
    right: 1rem;
    background: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.modal--cerrar:hover {
    background-color:#590202;
    color: white;
}
.cursos--lista{
  width: 100%;
  margin:0;
  padding:1.5rem;
  flex: 2 1 40rem;
  background: linear-gradient(to top, #03234018, #5b89a61e, #032340);
  border: .0625rem solid rgba(255,255,255,.12);
  border-radius: 1.25rem;
  box-shadow: 0 0 1rem rgba(3,14,22,.9);
  max-height: 50vh; 
  overflow-y: auto; 

}

.carrito-item{
  display:flex; align-items:center; gap:1rem;
  padding: .9rem 0;
  border-bottom: .0625rem solid rgba(255,255,255,.12);
}

.carrito-item:last-child{
    border-bottom:0;
}

.carrito-item__img{
  width:4.5rem; height:4.5rem; border-radius:.75rem; object-fit:cover;
  box-shadow: 0 0 .6rem rgba(0,0,0,.4);
}

.carrito-item__nombre{
    color:#fff;
    font-size:.9rem;
    font-weight:500;
}
.carrito-item__detalles{
    margin:0.15rem 0 0.4rem;
    color:#cfe0ea;
    font-size:0.9rem;
    opacity:0.9;
}

.carrito-item__eliminar{
  appearance:none;
  border:0;
  background:transparent;
  color:#ffffff;
  text-decoration: underline;
  cursor:pointer;
  font-weight:600;
}
.carrito-item__eliminar:hover{
    color:rgba(255, 255, 255, 0.726);
}

.carrito-item__precio{
  margin-left: auto;
  text-align: right;
  width:4rem; font-size: 1.3rem ;
  font-weight:500; 
  color:#ffffff;
}

.form__resumen{
  height: auto;
  width: 100%;
  flex: 1 1 22rem;
  display: flex;
  flex-direction: column;
  padding:1.5rem;
  background: linear-gradient(to top, #03234018, #5b89a61e, #032340);
  border: .0625rem solid rgba(255,255,255,.12);
  border-radius: 1.25rem;
  box-shadow: 0 0 1rem rgba(3,14,22,.9);

}

.form__resumen a{
  width: 100%;
  align-self: flex-start;
  margin:.6rem 0 0;
  color:#cfe0ea;
  text-decoration:none;
  border-bottom:.0625rem solid transparent;
  font-size: 1rem;
}

.form__resumen p {
    font-size: .9rem;
    font-weight: 300;

}
.form__resumen a:last-child{
    width: auto;

}

.form__resumen a:hover{
    color:#fff;
    border-color:#fff;
}

.resumen--titulo{
    margin:0 0 .75rem;
    font-size:1.2rem;
    font-weight:600;
    color:#fff; 
}

.detalle--item {
    list-style:none;
    margin:0 0 1rem;
    padding:0;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-end;
    gap: 1rem;
    border-bottom: .0625rem solid rgba(255,255,255,.12);

  }
 
.detalle--item div:last-child{
    justify-self:  flex-end;
 }
 
 .link--pagar:hover {
    border: none;
 }

.button--comprar{
    width: 100%;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    margin-top: 0.9rem;
    padding: 0.6em 1.3em;
    background: #bdbdbd;
    color: #333333;
    border: none;
    border-radius: 0.75em;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}
.button--comprar:hover{
    background-color: #38d36a;
    color: black;
    box-shadow: 0 0 1rem rgb(98, 255, 106);
}

.button--comprar:active{
    transform:scale(.98);
}

.cont--descuento{
    display:flex;
    flex-direction: row;
    gap:.5rem;
    align-content:center;
    margin-bottom: .5rem;
    justify-content: center;
}

.input--descuento{
  color:#cfe0ea;
  font-size:.95rem;
  margin:0 0 .35rem;
}

.input--descuento{
  flex:1 1 auto;
  min-width: 7rem;
  height:2rem;
  border-radius:.75em;
  border:.0625rem solid rgba(255,255,255,.18);
  background: rgba(255,255,255,.06);
  color:#fff;
  padding:0 .5rem;
  outline:none;
  transition: box-shadow .2s, border-color .2s;
} 


.descuento__input:focus{
  border-color: rgba(138,222,255,.6);
  box-shadow: 0 0 1rem rgba(70,105,138,.8);
}

.aplicar--descuento{
  height:2rem;
  padding:0 1rem;
  border:0;
  border-radius:.75rem;
  color:#fff;
  font-weight:600;
  background: #bdbdbd;
  color: #333333;;
  cursor:pointer;
  transition: filter .2s, transform .1s, box-shadow .2s;
}
.aplicar--descuento:hover{
    filter:brightness(1.2);
    box-shadow:0 0 1rem rgba(73, 128, 150, 0.5);
}
.aplicar--descuento:active{
    transform:scale(.98);
} 

.aplicar--descuento:hover {
    background-color: #5B89A6;
    color: black;
}

@media screen and (max-width: 1000px) {
.modal__contenedor {
    top: 5.2rem;
}
}


@media screen and (max-width: 765px) {
.modal__contenedor {
    font-size: 1rem;
}

.carrito-item__info h3{
    font-size: .7rem;
}

.carrito-item__detalles, .carrito-item__precio{
    font-size: 1rem;
}
}

@media screen and (max-width: 450px) {
.modal__contenedor {
  min-width: 100vw;
}
}

.mensaje--ok {
  color: #38d36a;
  font-size: 0.95rem;
  font-weight: 500;
}

.mensaje--error {
  color: #ff6666;
  font-size: 0.95rem;
  font-weight: 500;
}


@media screen and (max-width: 28.125rem) {
  .modal__contenedor {
    min-width: 100vw;
  }
}

@media screen and (max-width: 62.5rem) {
  .modal__contenedor {
    top: 6rem;
    height: calc(100vh - 6rem);
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
  }
}