* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 6rem;
}

.form-contacto-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.form {
  color: white;
    width: 100%;
    background: #002d49;
    border: 0.0625em solid rgba(255,255,255,.12);
    border-radius: 1.25rem;
    padding: 3rem;
    box-shadow: 0 0 1rem rgb(3, 14, 22);
}

.form__h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.form__elements {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__elements input,
.form__elements textarea {
  width: 100%;
    height: 3rem;
    border-radius: 0.75em;
    border: 0.0625em solid rgba(255,255,255,.18);
    background: rgba(255,255,255,.05);
    color: white;
    padding: 0 1rem 0 2.6rem;
    outline: none;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
    background-repeat: no-repeat;
    background-position: 0.7rem center;
    background-size: 1.3rem;
}

.form__elements textarea {
  padding-left: 1rem;
  padding-top: 1rem;
}


.form__elements input::placeholder, .form__elements textarea::placeholder{
  color: #b8c9d3;
  opacity:.85;
}

.form__elements input:focus, .form__elements textarea:focus{
  border-color: rgba(138, 222, 255, 0.589);
  box-shadow: 0 0 1rem rgb(70, 105, 138);
}

.form__elements input:user-invalid, .form__elements textarea:user-invalid{
  box-shadow: 0 0 1rem rgb(158, 22, 22);
}

input.icono-usuario{ background-image: url('../images/icono-usuario.svg'); }
input.icono-mail{ background-image: url(../images/icono-mail.svg); }
input.icono-tel{ background-image: url(../images/tel-icon.svg); }

.form__elements textarea {
  height: 7rem;
  resize: none;
}

.form__button {
  appearance: none;
    height: 3rem;
    border: 0;
    font-weight: 700;
    color: white;
    background: rgba(0, 110, 255, 0.993);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease, filter 0.2s ease;
    font-size: 0.9em;
    border-radius: 0.75em;
}

.form__button:hover {
  opacity: 0.9;
}

.contacto {
  color: white;
    width: 100%;
    background: #002d49;
    border: 0.0625em solid rgba(255,255,255,.12);
    border-radius: 1.25rem;
    padding: 3rem;
    box-shadow: 0 0 1rem rgb(3, 14, 22);
    height: 50%;
}

.contacto__h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.contacto__address{
  font-style: normal;
}

.contacto__address p {
  margin-bottom: 10px;
  font-size: 1rem;
}

.contacto__address a {
  color: #1c6dd0;
  text-decoration: none;
}

.contacto__address a:hover {
  text-decoration: underline;
}

.ubicacion {
  text-align: center;
}

.ubicacion__h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: white;
}

.ubicacion__img {
  width: 85%;
  height: 35%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 900px) {

  .form-contacto-grid {
    grid-template-columns: 1fr;
  }

  .form, .contacto {
    width: 100%;
  }

  .contacto {
    height: 100%;
  }
}
