/* MAIN */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr auto;
  gap: 20px;
  margin-top: 4rem;

  min-height: calc(100vh - 4rem - 8rem);
}
/* FORM */

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font: inherit;
  grid-column: 1 / 2;

  background: #333;
}

.form__h2 {
  color: #ffff;
  font-size: 2em;
}

.form__elements {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  width: 100%;
}

.form__input-name {
  height: 5em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px black;
}

.form__input-surname {
  height: 5em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px black;
}

.form__input-email {
  height: 5em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px black;
}

.form__input-tel {
  height: 5em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px black;
}

.form__textarea {
  resize: none;
  height: 10em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px black;
}

.form__button {
  background-color: #ffff;
  color: black;
  border: none;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px black;
}

/* DATOS DE CONTACTO */

.contacto {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  grid-column: 2 / 3;

  background: #444;
}

.contacto__h2 {
  color: #ffff;
  font-size: 1.5em;
}

.contacto__address {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: #ffff;
}

/* UBICACION*/

.ubicacion {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  grid-column: 1 / 3;
  background: #555;
}

.ubicacion__h2 {
  color: #ffff;
  font-size: 1.5em;
}
