.mi-perfil {
    background: rgba(255, 255, 255, 0.07);
    border: 0.0625rem solid rgba(255, 255, 255, 0.3);
    border-radius: 0.75rem;
    padding: 2rem;
    width: 100%;
    max-width: 50rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 14rem 1fr;
    gap: 2rem;
  }
  
  .editar-perfil__titulo {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
  }
  
  .editar-perfil__tipo-cuenta {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #d6e2eb;
  }
  
  .editar-perfil__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .editar-perfil__fila label {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-bottom: 0.3rem;
  }

  .editar-perfil__fila {
    display: flex;
    flex-direction: column;
  }
  
  .editar-perfil__fila label {
    display: block;
  }
  
  .editar-perfil__fila input {
    width: 100%;
    padding: 0.9rem 1rem;
    background: rgba(255, 255, 255, 0.07);
    border: 0.0625rem solid rgba(255, 255, 255, 0.3);
    border-radius: 0.6rem;
    color: white;
    font-size: 1rem;
    outline: none;
    transition: border 0.2s ease;
  }
  
  .editar-perfil__fila input:focus {
    border-color: rgba(138, 222, 255, 0.589);
    box-shadow: 0 0 1rem rgb(70, 105, 138);
  }

  .editar-perfil__fila input:user-invalid{
    box-shadow: 0 0 1rem rgb(158, 22, 22);
  }
  
  
  .editar-perfil__btn-guardar {
    margin-top: 1rem;
    padding: 0.9rem;
    border-radius: 0.7rem;
    border: none;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background: linear-gradient(135deg,#1a73e8 0%,#5b89a6 100%);
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  
  .editar-perfil__btn-guardar:hover {
    opacity: 0.92;
  }
  
  
  @media (max-width: 48rem) {
    .mi-perfil {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .mi-perfil img {
      margin: 0 auto;
    }
  }
  