main{
    padding-bottom: 7rem;
}

input {
  font-size: 1.4rem;
}

label {
  position: absolute;
  width: 1px;           /* ancho mínimo */
  height: 1px;          /* alto mínimo */
  padding: 0;           
  margin: -1px;          /* evita huecos visuales */
  overflow: hidden;      /* oculta contenido sobrante */
  clip: rect(0, 0, 0, 0); /* recorta todo el contenido */
  white-space: nowrap;   /* evita saltos de línea */
  border: 0;
  /* por accesibilidad se deja el label pero para que no sea visible
  se le da estas propiedades y valores  */
}

.empleados__inscripcion{
    color: white;
    width: 100%;
}

.empleados__inscripcion-detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.empleados__inscripcion-detalle h2 {
    font-size: 2.5rem;
    font-weight: 400;
    padding: 7rem  0 4rem 0;
    width: 100%;
    text-shadow: -3px 3px 5px #000000dc;
    border-bottom: 1px solid #5b89a698;
    margin-bottom: 3rem;
    box-shadow: 0 5px 10px 5px #0000003b;
    text-align: center;
}

.empleados__inscripcion-detalle-inferior {
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
     gap: 1%;
}
.empleados__inscripcion-detalle-inferior input {
    width: 60%;
    background: rgba(255, 255, 255, 0.068);
    font-size: 2rem;
    font-weight: 400;
    padding: 0 1rem;
    border: none;
    color: #F20505;
    border-radius: 12px;
}

.empleados__inscripcion-detalle-inferior input::placeholder {
    color: #ffffff6b;
}
.empleados__inscripcion-detalle-inferior input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.507);

}

.empleados__inscripcion-detalle-inferior span {

    font-size: 2rem;
    padding: 0 1rem;
    border: 2px solid white;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.267);

}

.empleados__inscripcion-detalle-inferior > p {
    flex: 1 1 100%;
    font-size: 2.5rem;
    font-weight: lighter;
    padding: 3.5rem 0 2rem 0;
    text-align: center;
}

.empleados__inscripcion-formulario {
    justify-self: center;
    height: auto;
    width: 80%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    padding-bottom: 5rem;
    border-radius: 40px;
    padding: 3rem;
    background: url(../images/000000.jpg);
    background-position: -210px -850px;
    background-size: 130%;
    box-shadow: 0 0 15px 3px black;
}

.empleados__inscripcion-formulario-campos{
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 20%)) 5%;
    gap: 1rem;
    justify-content: center;
}   

.empleados__inscripcion-formulario-campos > button {
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
  padding: 0.35rem 0.6rem;
  border-radius: 50rem;
  border: 0.0625em solid rgba(255,255,255,.18);
  background: rgba(255,255,255,.05);
  color: white;
  outline: none;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}
.empleados__inscripcion-formulario-campos > button:hover {
    border-color: rgba(138, 222, 255, 0.589);
    box-shadow: 0 0 1rem rgb(70, 105, 138);
}

 .empleados__inscripcion-formulario > button { /* boton de finalizar inscripcion */
  height: 60%;
  justify-self: center;
  padding: 0 20px;
  font-size: 1.1rem;
  background: #bdbdbd;
  color: #333333;
  cursor: default;
  text-decoration: none;
  display: inline-block;
  padding: 0.35rem 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: transparent;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.empleados__inscripcion-formulario > button:hover {
    background-color: #38d36a;
    color: black;
    box-shadow: 0 0 1rem rgb(98, 255, 106);
}

.empleados__inscripcion-formulario-campos > legend{
    font-size: 1.4rem;
    padding-bottom: .3rem;
    text-align: center;
} 



.empleados__inscripcion-formulario-campos > input{
    width: 100%;
    height: 3rem;
    border-radius: 0.75em;
    border: 0.0625em solid rgba(255,255,255,.18);
    background: rgba(255,255,255,.05);
    color: white;
    padding: 0 1rem 0 2.6rem;
    outline: none;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
    background-repeat: no-repeat;
    background-position: 0.7rem center;
    background-size: 1.3rem;
}

.empleados__inscripcion-formulario-campos > input::placeholder{
    color: #b8c9d3;
    opacity:.85;
    
}

.empleados__inscripcion-formulario-campos > input:focus {
    border-color: rgba(138, 222, 255, 0.589);
    box-shadow: 0 0 1rem rgb(70, 105, 138);
}

.empleados__inscripcion-formulario-campos > :user-invalid {
    box-shadow: 0 0 1rem rgb(158, 22, 22);
}

.empleados__inscripcion-formulario-campos > input.icono-usuario{
    background-image: url('../images/icono-usuario.svg');
  }

  .empleados__inscripcion-formulario-campos > input.icono-mail{
    background-image: url(../images/icono-mail.svg);
  }

  .empleados__inscripcion-formulario-campos > input.icono-tel{
    background-image: url(../images/tel-icon.svg);
  }


@media screen and (max-width: 1350px) {

.empleados__inscripcion-formulario{
    background-position: -160px -480px;
    background-size: 130%;
}
}
@media screen and (max-width: 1162px) {

html {
    font-size: 10px;
}

.empleados__inscripcion-formulario{
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
}
@media screen and (max-width: 1074px) {


.empleados__inscripcion-detalle h2 {
    font-size: 2.5rem;
}
.empleados__inscripcion-detalle-inferior span {
    font-size: 1.5rem;
}

.empleados__inscripcion-detalle-inferior input {
    font-size: 1.5rem;
}

.empleados__inscripcion-detalle-inferior > p {
    font-size: 2rem;
}

.empleados__inscripcion-formulario-campos{
    grid-template-columns: repeat(auto-fit, minmax(80px, 20%)) 5%;
}   

}


@media screen and (max-width: 790px) {

.empleados__inscripcion-formulario-campos{
    grid-template-columns: repeat(1, 90%);
}   
.empleados__inscripcion-formulario-campos > button{
    justify-self: center;
    margin-bottom: 2rem;
    max-height: 3rem ;
}
.empleados__inscripcion-formulario{
    grid-template-rows: repeat(4, .7fr) 5%;
}

.empleados__inscripcion-detalle h2 {
    font-size: 2rem;
}
.empleados__inscripcion-detalle-inferior span {
    font-size: 1.5rem;
}

.empleados__inscripcion-detalle-inferior input {
    font-size: 1.5rem;
}

.empleados__inscripcion-detalle-inferior > p {
    font-size: 1.5rem;
}
}