* {
  box-sizing: border-box;
  font-family: Poppins;
  margin: 0px;
  padding: 0px;
}

/* BODY */

body {
  background: #032340;
  height: auto;
  max-width: 100%;
}

/* HEADER */

.header {
  z-index: 1;
  box-sizing: border-box;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background: #5b89a6;
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.26);
  flex-wrap: nowrap;
}

.header__left {
  flex: 0 1 19%;
}
.header__left-home-link {
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.2rem 2rem;
  cursor: pointer;
  background: #032340;
  border: 0.1rem solid transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.header__left-home-link:hover {
  background: #0000003b;
  border: 1xp solid rgb(255, 255, 255);
}
.header__search {
  flex: 0 1 19%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.header__search input {
  background: url(../images/zzzzzzzzzzzzz.png) white;
  background-repeat: no-repeat;
  background-position: 3px center;
  padding: 3px 0 0 40px;
  background-size: 32px;
  height: 1.9rem;
  opacity: 0.3;
  border-radius: 14px;
  border: none;
  transition: all 0.3s;
}

.header__search input:focus {
  border: none;
  opacity: 0.6;
  outline: none;
}
.header__search input::placeholder {
  font-size: 1rem;
}
.header__nav {
  flex: 0 1 50%;
  height: 100%;
  display: flex;
}

.header__nav-elements {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: nowrap;
  height: 100%;
  flex: 1 1 20%; /* flex-grow: 1, flex-shrink: 1, flex-basis: 8rem */
}

.header__nav-element {
  display: flex;
}

.header__nav-element-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;

  min-width: 8rem;
  cursor: pointer;
  align-content: center;
  text-align: center;
}

.header__nav-element-link:hover {
  background: #ffffff3b;
}
.header__cart {
  flex: 0 1 3%;
  margin-left: 1rem;
}
.header__cart a {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  justify-content: flex-end;
}
.header__cart-white {
  width: 2.4rem;
}

.header__cart:hover {
  cursor: pointer;
  opacity: 60%;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  background: #5b89a6;
  border-top: solid 1px rgba(255, 255, 255, 0.26);
}

.footer__title {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.2rem 2rem;
  background: #032340;
  border: 0.1rem solid transparent;
  box-shadow: -1px 2px 5px 2px #0000003a;
}

.footer__container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 0 3rem;
}

.footer__paragraph,
.footer__container {
  text-align: center;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__flex h2 {
  color: #fff;
  text-shadow: -3px 3px 5px #0000003b;
}

.footer__elements {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.footer__link {
  text-decoration: none;
}

.footer__link,
.footer__element,
.footer__paragraph {
  color: #ffffff;
}

.footer__elements-social {
  flex-direction: row;
  gap: 1rem;
}

.footer__paragraph {
  font-size: 0.8rem;
  padding: 0 1rem;
}

.footer__link:hover {
  color: rgba(255, 255, 255, 0.664);
}
.footer__link img:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1000px) {
  .header {
    flex-direction: row;
    height: auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
    flex-wrap: wrap;
  }
  .header div,
  .header nav {
    flex: 1 1 20%;
    justify-items: stretch;
  }

  .header div:nth-child(2) {
    margin-left: 2rem;
    flex: 1 1 30%;
  }
  .header__left {
    order: 1;
  }
  .header__left-home-link {
    font-size: 1rem;
    padding: 0.2rem 1rem;
  }

  .header__search {
    order: 2;
  }
  .header__search input {
    width: 100%;
    padding-left: 1.7rem;
    background-size: 20px;
    height: 1.6rem;
    font-size: 0.8rem;
  }
  .header__nav {
    margin-top: 0.2rem;
    order: 4;
  }
  .header__nav-elements {
    flex-direction: row;
    gap: 0.2rem;
    justify-content: space-around;
  }

  .header__nav-element-link {
    font-size: 1rem;
    width: 100%;

    height: 2.2rem;
  }
  .header__cart {
    display: flex;
    justify-content: flex-end;
    order: 3;
  }
  .header__cart p {
    font-size: 0.8rem;
  }

  .header__cart-white {
    width: 2rem;
  }
}

@media screen and (max-width: 555px) {
  .header {
    flex-direction: row;
    height: auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
    flex-wrap: wrap;
  }
  .header div,
  .header nav {
    flex: 1 1 20%;
    justify-items: stretch;
  }

  .header div:nth-child(2) {
    margin-left: 2rem;
    flex: 1 1 30%;
  }
  .header__left {
    order: 1;
  }
  .header__left-home-link {
    font-size: 1rem;
    padding: 0.2rem 1rem;
  }

  .header__search {
    order: 2;
  }
  .header__search input {
    width: 100%;
    padding-left: 1.7rem;
    background-size: 20px;
    height: 1.6rem;
    font-size: 0.8rem;
  }
  .header__nav {
    margin-top: 0.2rem;
    order: 4;
  }
  .header__nav-elements {
    flex-direction: row;
    gap: 0.2rem;
  }

  .header__nav-element-link {
    font-size: 1rem;
    width: 100%;
    min-width: auto;
    height: 2.2rem;
  }
  .header__cart {
    display: flex;
    justify-content: flex-end;
    order: 3;
  }
  .header__cart p {
    font-size: 0.8rem;
  }

  .header__cart-white {
    width: 2rem;
  }

  .top__image {
    height: 23rem;
  }
  .top__image img {
    object-position: center;
    object-fit: cover;
    object-position: -30px 5px;
    transform: scale(1.7);
  }

  .top__image-content-card {
    position: absolute;
    z-index: 0;
    top: 14rem;
    left: 1rem;
    color: rgb(0, 0, 0);
    width: 20rem;
    background: #ffffff;
    padding: 0.8rem;
  }

  .top__image-content-card h3 {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .top__image-content-card p {
    text-align: justify;
    font-size: 0.7rem;
    font-weight: 100px;
  }
  .main__container-enrollment h2 {
    width: auto;
    font-size: 1.1rem;
    padding: 2rem 1rem;
  }

  .main__enrollment-steps {
    display: flex;
    flex-direction: row;
    padding: 1.1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 3%;
    row-gap: 2rem;
  }
  .enrollment-step {
    width: 10.2rem;
    padding: 1.1rem 0;
  }
  .enrollment-step img {
    width: 8rem;
  }
  .main__enrollment-steps p {
    font-size: 0.8rem;
    width: 8rem;
  }

  .cursos__container {
    width: 95%;
    margin: 3rem auto;
    border-radius: 20px;
  }

  .cursos__title {
    font-size: 1.2rem;
    padding: 1rem 0 1.3rem 0;
  }

  .cursos__cards {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    align-content: center;
  }

  .card {
    max-width: 80%;
    min-height: 27rem;
    border-radius: 20px;
    padding: 1rem;
    max-width: 17rem;
  }

  .card__img {
    height: 9rem;
  }

  .card__img a img {
    height: 10rem;
    object-fit: cover;
    transform: scale(1.7);
  }
  .card__img a img:hover {
    transform: scale(2);
  }

  .card a button {
    width: 6.5rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  .logos__slide img {
    height: 45px;
    background: #0000003b;
  }
  .logos__slide {
    display: flex;
    flex-direction: row;
  }
  .logos {
    margin-bottom: 3rem;
  }

  .footer__container {
    flex-direction: column;
    gap: 2rem;
  }

  .footer__flex h2 {
    font-size: 1rem;
  }

  .footer__paragraph {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 400px) {
  body {
    height: auto;
  }

  .header {
    flex-direction: row;
    height: auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
    flex-wrap: wrap;
  }
  .header div,
  .header nav {
    flex: 1 1 20%;
    justify-items: stretch;
  }

  .header div:nth-child(2) {
    margin-left: 2rem;
    flex: 1 1 30%;
  }
  .header__left {
    order: 1;
  }
  .header__left-home-link {
    font-size: 1rem;
    padding: 0.2rem 1rem;
  }

  .header__search {
    order: 2;
  }
  .header__search input {
    width: 100%;
    padding-left: 1.7rem;
    background-size: 20px;
    height: 1.6rem;
    font-size: 0.8rem;
  }
  .header__nav {
    margin-top: 0.2rem;
    order: 4;
  }
  .header__nav-elements {
    flex-direction: row;
    gap: 0.2rem;
  }

  .header__nav-element-link {
    font-size: 1rem;
    width: 100%;
    min-width: auto;
    height: 2.2rem;
  }
  .header__cart {
    display: flex;
    justify-content: flex-end;
    order: 3;
  }
  .header__cart p {
    font-size: 0.8rem;
  }

  .header__cart-white {
    width: 2rem;
  }
  .footer__container {
    flex-direction: column;
    gap: 2rem;
  }

  .footer__flex h2 {
    font-size: 1rem;
  }

  .footer__paragraph {
    font-size: 0.7rem;
  }
}
