/*  #590202
    #8C0303
    #F20505
    #5B89A6
    #032340   Paleta utilizada        */
* {
    box-sizing: border-box;
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
}
body{
    background: #032340;
    height: 2000px;
}
.header{
    box-sizing: border-box;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    background: #5B89A6;
    align-items: center;
    padding: 0 0 0 6rem;
}
.header__left-home-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight:bold;
    border-radius: 4px;
    padding: .2rem 2rem;
    cursor: pointer;
    background: #032340;
    border: .1rem solid transparent;
    transition-duration: .2s; 
    transition-timing-function:ease-out;
}
.header__left-home-link:hover{
    background: #0000003b;
    border: 1xp solid rgb(255, 255, 255);
}
.header__nav{
    height: 100%;
}
.header__nav-elements{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 6rem;
    height: 100%;
}
.header__nav-element{
    display: flex;
}
.header__nav-element-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight:400;
    width: 12rem;
    cursor: pointer;
    align-content: center;
    text-align: center;
} 
.header__nav-element-link:hover{
    background: #ffffff3b;
}
.header__cart-white{
    position: fixed;
    z-index: 4;
    top: .9rem;
    right: .8rem;
    width: 2.4rem;
} 
.header__cart-white:hover{
     cursor: pointer;
     opacity: 60%;
} 
main{
    position: relative;
    z-index: -10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top__image{
    width: 100%;
    height: 27rem;
    overflow: hidden;
}
.top__image img{
    width: 100%;
    object-fit: cover;
    object-position: 0 -490px;
}
.top__image-content-card{
    position: absolute;
    z-index: 0;
    top: 15rem;
    left: 5rem;
    color: rgb(0, 0, 0);
    width: 35rem;
    background: #ffffff;
    padding: 1.5rem;
}
.top__image-content-card h3{
    padding-bottom: .5rem;
    font-size: 1.4rem;
}
.top__image-content-card p{
    text-align: justify;
    font-size: .9rem ;
    font-weight: 100px;
}
.main__container-enrollment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main__container-enrollment h2{
    text-align:center;
    padding: 4rem 0 ;
    width: 40rem;
    color: #fff;
    font-weight: 300;
}
.main__enrollment-steps{
    display: flex;
    flex-direction: row;
    gap: 5.5rem;
    list-style-type: none;
}
.enrollment-step{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, transparent, #5B89A6, transparent);
    padding: 1rem;
    border-radius: 40px
}
.main__enrollment-steps img{
    border-radius: 100%;
    width: 210px;
}
.main__enrollment-steps p{
    width: 190px ;
    text-align: center;
    color:#ffffff;
    font-weight: 400;
    padding: .5rem;
}
.cursos__container{
    margin-top: 6rem;
    align-content: center;
    height: 60rem;
    width: 70rem;
    background-image: url(../images/fondo\ cursos1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 70px;
    
}
.cursos__cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 4rem  ;
    justify-content: center;
}
.card{
    flex:0 0 33.33%;
    display: flex;
    height: 22rem;
    max-width: 17rem;
    background: linear-gradient(to top, transparent, #F20505, transparent);
    justify-content: center;
    padding: 1rem;
    border-radius: 40px;
}
.card div{
    margin-top: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    overflow: hidden;
}
.card div img{
    height: 18rem;
    object-fit: cover;
    object-position: center;
}
