
* {
  box-sizing: border-box;
  font-family: Poppins;
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar-thumb {
  background: #032340 ;
}

::-webkit-scrollbar {
  width: .4rem;
}

::-webkit-scrollbar-track {
  background: #5B89A6;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
body {
  background: #032340;
  height: auto;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 1;
  box-sizing: border-box;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background: #5b89a6;
  align-items: center;
  padding: 0 .8rem 0 .8rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.26);
  flex-wrap: nowrap;
}
.header-short-icon{
  display: none;
}
.header__left {
  flex: 0 1 19%;
}
.header__left-home-link {
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.2rem 2rem;
  cursor: pointer;
  background: #032340;
  border: 0.1rem solid transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.header__left-home-link:hover {
  background: #0000003b;
  border: 1xp solid rgb(255, 255, 255);
}
.header__search {
  flex: 0 1 19%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.header__search input {
  background: url(../images/zzzzzzzzzzzzz.png) white;
  background-repeat: no-repeat;
  background-position: 3px center;
  padding: 3px 0 0 40px;
  background-size: 32px;
  height: 1.9rem;
  opacity: 0.3;
  border-radius: 14px;
  border: none;
  transition: all 0.3s;
}

.header__search input:focus {
  border: none;
  opacity: 0.6;
  outline: none;
}
.header__search input::placeholder {
  font-size: 1rem;
}
.header__nav {
  flex: 0 1 50%;
  height: 100%;
  display: flex;
}

.header__nav-elements {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  padding: 0 .7rem;
   
  justify-content: center;
}

.header__nav-element {
  display: flex;
  flex: 1 1 25%;
}
.header__nav-element:nth-child(3){
  min-width:5.1rem
}
.header__nav-element-link {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  flex: 1 1 8rem;

  cursor: pointer;
 align-items: center;
 justify-content: space-evenly;
  text-align: center;
}

.header__nav-element-link:hover {
  background: #ffffff3b;
}

.login{
  flex: 1 1 16%;
  flex-direction: row;
  min-width: 10.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: .6rem;
  border-right: solid 1px rgba(255, 255, 255, 0.26);;
   flex-wrap: nowrap;
}
.login__links{
   height: 100%;
   display: flex;
   flex: 1 1 100%;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}
.login > a{
  height: 100%;
  display: flex;
  align-items: center;
}
.login img{
  width: 2.3rem;
  height: auto;
  opacity: 100%;
  transition: 0.2s ease-in-out;
}

.login-sesion{
  font-weight: 500;
  font-size: 1.1rem;
  color:#032340;
  text-decoration: none;

}
.login img:hover{
  filter: drop-shadow(0 0px 2px #ffffff);
}
.login-registro:hover, .login-sesion:hover{
  opacity: 70%;
}

.login-registro{
  color: #ffffff;
  text-decoration: none;
  font-size: .7rem;
}

.header__cart {
  flex: 0 1 3%;
  margin-left: 1rem;
}
.header__cart a {
  color: #fff;
  font-size: .9rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  justify-content: flex-end;
}
.header__cart-white {
  width: 2.2rem;
}

.header__cart:hover {
  cursor: pointer;
  opacity: 60%;
}

main {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__top__image {
  position: relative;
  top: 4rem; 
  height: 25rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 4rem;
}

.top__image {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 1.5s ease;
  /* border-bottom: solid 1px rgba(255, 255, 255, 0.26); */
}

.top__image img {
  width: 100%;           
  height: 100%;             
  object-fit: cover;        
  flex-shrink: 0;
}

.top__image-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.336);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 5rem;
  font-weight: 400;
}

.top__image-btn.next {
  right: .7rem;
}


.top__image-btn.back {
  left: .7rem;
}

.top__image-btn:hover {
  color: #ffffff1f;
}

.top__image-content-card {
  position: absolute;
  z-index: 0;
  top: 13rem;
  left: 7rem;
  color: rgb(0, 0, 0);
  width: 35rem;
  background: #ffffff;
  padding: 1.5rem;
}

.top__image-content-card h3 {
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}

.top__image-content-card p {
  text-align: justify;
  font-size: 0.9rem;
  font-weight: 100px;
}

.main__container-enrollment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__container-enrollment h2 {
  text-align: center;
  padding: 4rem 0;
  color: #fff;
  font-weight: 300;
  text-shadow: -3px 3px 5px #000000;
}

.main__enrollment-steps {
  display: flex;
  width: 100%;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  padding: 0 1rem;
}

.enrollment-step {
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, transparent, #5b89a6, transparent);
  padding: 1rem;
  border-radius: 40px;
  box-shadow: -3px 3px 10px 3px #0000003b;
}

.main__enrollment img {
  border-radius: 100%;
  width: 95%;
}

.main__enrollment-steps p {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  padding: 0.5rem;
}

.cursos__container {
  z-index: 0;
  margin: 7rem 0;
  align-content: center;
  width: 85%;
  background-image: url(../images/fondo\ cursos1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 70px;
  box-shadow: -4px 4px 10px 3px #000000a9;
}

.cursos__cards {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  padding: 5rem 2rem 5rem 2rem;
}

.card {
  flex: 1 1 33.33%;
  display: flex;
  flex-direction: column;
  height: 27rem;
  max-width: 17rem;
  background: linear-gradient(to top, transparent, #8c0303, transparent);
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-radius: 40px;
  text-align: center;
  box-shadow: -3px 3px 10px 3px #000000c7;
}

/*  #590202
    #8C0303
    #F20505
    #5B89A6
    #032340   Paleta utilizada        */
.card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 13rem;
  height: 13rem;
  width: 13rem;
  min-width: 13rem;
  border-radius: 100%;
  overflow: hidden;
}

.card__img a img {
  height: 18rem;
  transition: 0.3s ease-in-out;
}

.card__img a img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.card a {
  color: #fff;
  font-size: small;
  text-decoration: none;
}

.card a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card a button {
  color: #ffffff;
  font-size: small;
  width: 8rem;
  background: rgba(0, 0, 0, 0.582);
  border: none;
  height: 2rem;
  border-radius: 10px;
  transition: 0.2s ease-out;
}

.card a button:hover {
  cursor: pointer;
  font-size: medium;
  background: rgba(0, 0, 0, 0.918);
  height: 2.6rem;
  width: 9rem;
  border-radius: 13px;
}

.cursos__title {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  color: rgba(255, 255, 255, 0.877);
  font-size: 2.5rem;
}

.cursos__title h2 {
  font-weight: lighter;
}

.ver__cursos {
  display: flex;
  justify-content: center;
  width: 40%;
  text-decoration: none;
  justify-self: center;
  padding: 0 1rem;
  color: rgba(255, 255, 255, 0.877);
  font-size: 2rem;
  font-weight: lighter;
  border: 2px white solid;
  border-radius: 25px;
  margin: 2rem 1rem 3rem 1rem;
  transition: ease-out .2s;
  text-align: center;
}

.ver__cursos:hover {
  background: #8c03031a;
  box-shadow: 0 0 15px 4px #5b89a642;
}


/*  #590202
    #8C0303
    #F20505
    #5B89A6
    #032340   Paleta utilizada        */
.logos__slide img {
  height: 55px;
  padding: 0.4rem;
  border-radius: 10px;
  box-shadow: 0px 4px 5px 0px #ffffff2c;
  background: #0000003b;
}

.logos {
  padding: 0.5rem 0;
  margin-bottom: 6rem;
  display: grid;
  gap: 1.2rem;
}

.logos__slide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.logos__title {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.15rem;
  font-weight: 200;
  color: #ffffff;
  border-radius: 7px;
  text-shadow: -3px 3px 5px #000000;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  background: #5b89a6;
  border-top: solid 1px rgba(255, 255, 255, 0.26);
}

.footer__title {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.2rem 2rem;
  background: #032340;
  border: 0.1rem solid transparent;
  box-shadow: -1px 2px 5px 2px #0000003a;
}

/*  #590202   bordo
    #8C0303   rojo medio
    #F20505   rojo claro
    #5B89A6   azul claro
    #032340   azul oscuro
    
    Paleta utilizada        */

.footer__container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 0 3rem;
}

.footer__paragraph,
.footer__container {
  text-align: center;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__flex h2 {
  color: #fff;
  text-shadow: -3px 3px 5px #0000003b;
}

.footer__elements {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.footer__link {
  text-decoration: none;
}

.footer__link,
.footer__element,
.footer__paragraph {
  color: #ffffff;
}

.footer__elements-social {
  flex-direction: row;
  gap: 1rem;
}

.footer__paragraph {
  font-size: 0.8rem;
  padding: 0 1rem;
}

.footer__link:hover {
  color: rgba(255, 255, 255, 0.664);
}
.footer__link img:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1000px) {
  .header {
    flex-direction: row;
    height: auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
    flex-wrap: wrap;

  }

  .header__left {
     flex: 1 1 20%;
    order: 1;
  }
  .header__left-home-link {
    font-size: 1rem;
    padding: 0.2rem 1rem;
  }

  .header__search {
     flex: 1 1 20%;
     order: 2;
  }
  .header__search input {
    width: 100%;
    padding-left: 1.7rem;
    background-size: 20px;
    height: 1.6rem;
    font-size: 0.8rem;
  }
  .header__nav {
    margin-top: 0.2rem;
    flex: 1 1 90%;
    order: 5;

  }
  .header__nav-elements {
    flex-direction: row;
    gap: 0.2rem;
    justify-content: space-around;
  }

  .header__nav-element-link {
    font-size: 1rem;
    width: 100%;

    height: 2.2rem;
  }
  .login{
  flex: 1 1 20%;
   order: 3;
   min-width: 13.7rem;
 padding-left: .7rem;
}
.login__links{
   height: 100%;
   display: flex;
   flex: 1 1 100%;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}
.login > a{
  height: 100%;
  display: flex;
  align-items: center;
}
.login img{
  width: 2.3rem;
  height: auto;
  opacity: 100%;
  transition: 0.2s ease-in-out;
}

.login-sesion{
  font-weight: 500;
  font-size: 1.1rem;
  color:#032340;
  text-decoration: none;

}
.login img:hover{
  filter: drop-shadow(0 0px 2px #ffffff);
}
.login-registro:hover, .login-sesion:hover{
  opacity: 70%;
}

.login-registro{
  color: #ffffff;
  text-decoration: none;
  font-size: .7rem;
}
  .header__cart {
    display: flex;
    flex: 1 1 3%;
    justify-content: flex-end;
    order: 4;
  }
  .header__cart p {
    font-size: 0.8rem;
  }

  .header__cart-white {
    width: 2rem;
  }

  .container__top__image {
    height: 22rem;
    margin-bottom: 3rem;
}

  .top__image-content-card {
    position: absolute;
    z-index: 0;
    top: 12rem;
    left: 3rem;
    color: rgb(0, 0, 0);
    width: 20rem;
    background: #ffffff;
    padding: 0.8rem;
  }

  .top__image-content-card h3 {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .top__image-content-card p {
    text-align: justify;
    font-size: 0.7rem;
    font-weight: 100px;
  }

  .top__image-btn {
  font-size: 4rem;

}
  .main__container-enrollment h2 {
    width: auto;
    font-size: 1.1rem;
    padding: 2rem 1rem;
  }

  .main__enrollment-steps {
    display: flex;
    flex-direction: row;
    padding: 1.1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 3%;
    row-gap: 2rem;
  }
  .enrollment-step {
    width: 10.2rem;
    padding: 1.1rem 0;
  }
  .enrollment-step img {
    width: 8rem;
  }
  .main__enrollment-steps p {
    font-size: 0.8rem;
    width: 8rem;
  }

  .cursos__container {
    width: 95%;
    margin: 3rem auto;
    border-radius: 20px;
  }

  .cursos__title {
    font-size: 1.2rem;
    padding: 1rem 0 1.3rem 0;
    font-weight: ;
  }

  .cursos__cards {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    align-content: center;
  }

  .card {
    max-width: 80%;
    min-height: 27rem;
    border-radius: 20px;
    padding: 1rem;
    max-width: 17rem;
  }

  .card__img {
    height: 9rem;
  }

  .card__img a img {
    height: 10rem;
    object-fit: cover;
    transform: scale(1.7);
  }
  .card__img a img:hover {
    transform: scale(2);
  }

  .card a button {
    width: 6.5rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  .ver__cursos {
    width: 30%;
    padding: 0 1rem;
    font-size: 1.4rem;
    font-weight: lighter;
    border: 1px white solid;
    margin: 1rem .5rem 2rem .5rem;
  }


  .logos__slide img {
    height: 45px;
    background: #0000003b;
  }
  .logos__slide {
    display: flex;
    flex-direction: row;
  }
  .logos {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 555px) {
  html {
    font-size: 16px;
  }
  body {
    height: auto;
  }

  .header {
    flex-direction: row;
    height: auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
    flex-wrap: wrap;
  }
 

  .header__left {
    order: 1;
    flex: 1 1 10%;
  }
  .header__left-home-link {
    font-size: 1rem;
    padding: 0.2rem 1rem;
  }

  .header__search {
    order: 2;
  }
  .header__search input {
    width: 100%;
    padding-left: 1.7rem;
    background-size: 20px;
    height: 1.6rem;
    font-size: 0.8rem;
  }
  .header__nav {
    margin-top: 0.2rem;
    order: 5;
  }
  .header__nav-elements {
    flex-direction: row;
    gap: 0.2rem;
  }

  .header__nav-element-link {
    font-size: 1rem;
    width: 100%;
    min-width: auto;
    height: 2.2rem;
  }
  .login{
    flex: 1 1 10%;
    min-width: 11rem;
    border: none;
  }
  .header__cart {
    display: flex;
    justify-content: flex-end;
    order: 4;
  }
  .header__cart p {
    font-size: 0.8rem;
  }

  .header__cart-white {
    width: 2rem;
  }


  .container__top__image {
    height: 16rem;
    margin-bottom: 3rem;
  } 

  .top__image-btn {
    font-size: 3rem;
  }

  .top__image-content-card {
    top: 7rem;
    left: 2rem;
  }

  .top__image-content-card h3 {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .top__image-content-card p {
    text-align: justify;
    font-size: 0.7rem;
    font-weight: 100px;
  }
  .main__container-enrollment h2 {
    width: auto;
    font-size: 1.1rem;
    padding: 2rem 1rem;
  }

  .main__enrollment-steps {
    display: flex;
    flex-direction: row;
    padding: 1.1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 3%;
    row-gap: 2rem;
  }
  .enrollment-step {
    width: 10.2rem;
    padding: 1.1rem 0;
  }
  .enrollment-step img {
    width: 8rem;
  }
  .main__enrollment-steps p {
    font-size: 0.8rem;
    width: 8rem;
  }

  .cursos__container {
    width: 95%;
    margin: 3rem auto;
    border-radius: 20px;
  }

  .cursos__title {
    font-size: 1.2rem;
    padding: 1rem 0 1.3rem 0;
    font-weight: ;
  }

  .cursos__cards {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    align-content: center;
  }

  .card {
    max-width: 80%;
    min-height: 27rem;
    border-radius: 20px;
    padding: 1rem;
    max-width: 17rem;
  }

  .card__img {
    height: 9rem;
  }

  .card__img a img {
    height: 10rem;
    object-fit: cover;
    transform: scale(1.7);
  }
  .card__img a img:hover {
    transform: scale(2);
  }

  .card a button {
    width: 6.5rem;
    height: 2rem;
    font-size: 0.8rem;
  }

    .ver__cursos {
    width: 30%;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: lighter;
    border: 1px white solid;
    margin: 1rem .5rem 2rem .5rem;
    border-radius: 10px;
  }

  .logos__slide img {
    height: 45px;
    background: #0000003b;
  }
  .logos__slide {
    display: flex;
    flex-direction: row;
  }
  .logos {
    margin-bottom: 3rem;
  }

  .footer__container {
    flex-direction: column;
    gap: 2rem;
  }

  .footer__flex h2 {
    font-size: 1rem;
  }

  .footer__paragraph {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 471px) {
  
  .header-short-icon{

    display: flex;
    flex: 1 1 3%;
    color: #fff;
    background-color: #032340;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 0;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
  }

    .header-short-icon:hover {
      opacity: 70%;
      box-shadow: 0 0 1px 1px #fff;
    }

  .header__left-home-link{
    display: none;
  }
   .header__search {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  body {
    height: auto;
  }

  .header {
    flex-direction: row;
    height: auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
    gap: ;
    flex-wrap: wrap;
  }



  .header__left {
    order: 1;
  }
  .header__left-home-link {
    font-size: 1rem;
    padding: 0.2rem 1rem;
  }

  .header__search {
    order: 2;
  }
  .header__search input {
    width: 100%;
    padding-left: 1.7rem;
    background-size: 20px;
    height: 1.6rem;
    font-size: 0.8rem;
  }
  .header__nav {
    margin-top: 0.2rem;
    order: 4;
  }
  .header__nav-elements {
    flex-direction: row;
    gap: 0.2rem;
  }
  .header__nav-element:nth-child(3){
    min-width: 4.3rem;
  }
  .header__nav-element-link {
    font-size: 1rem;
    width: 100%;
    min-width: auto;
    height: 2.2rem;
  }
  .login{
    flex: 1 1 10%;
    min-width: 10.2rem;
  }

  .login-sesion{
    font-size: 1rem;
  }
  .login-registro{
   font-size: .5rem;
  }
  .header__cart {
    display: flex;
    flex: 1 1 1%;
    justify-content: flex-end;
    order: 3;
    margin-left: .2rem;
  }
  .header__cart p {
    font-size: 0.8rem;
  }

  .header__cart-white {
    width: 2rem;
  }

   .container__top__image {
    height: 15rem;
   
}

  .top__image-content-card {
    display: none;
  }

  .main__enrollment {
    width: 100%;
  }
  .main__container-enrollment h2 {
    width: auto;
    font-size: 1.1rem;
    padding: 2rem 0;
  }

  .main__enrollment-steps {
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
    padding: 1.1rem;
    flex-wrap: wrap;
  }
  .enrollment-step {
    flex: 1 1 20%;
    width: 45%;
  }
  .enrollment-step img {
    width: 8rem;
  }

  .main__enrollment-steps p {
    font-size: 0.8rem;
    width: 9rem;
  }

  .cursos__container {
    width: 95%;
    margin: 3rem auto;
    border-radius: 20px;
  }

  .cursos__title {
    font-size: 1.2rem;
    padding: 1rem 0 1.3rem 0;
    font-weight: ;
  }

  .cursos__cards {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    align-content: center;
  }

  .card {
    max-width: 80%;
    min-height: 27rem;
    border-radius: 20px;
    padding: 1rem;
  }

  .card__img {
    height: 9rem;
  }

  .card__img a img {
    height: 10rem;
    object-fit: cover;
    transform: scale(1.7);
  }
  .card__img a img:hover {
    transform: scale(2);
  }

  .card a button {
    width: 6.5rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  .logos__slide img {
    height: 45px;
    background: #0000003b;
  }
  .logos__slide {
    display: flex;
    flex-direction: row;
  }
  .logos {
    margin-bottom: 3rem;
  }

  .footer__container {
    flex-direction: column;
    gap: 2rem;
  }

  .footer__flex h2 {
    font-size: 1rem;
  }

  .footer__paragraph {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 319px) {
  html {
    font-size: 12px;
  }
}
